/* MEDIA QUERIES */
/*
@media (max-width: 480px) {
    html element/class/id {
        attribute: xyz;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    html element/class/id {
        attribute: xyz;
    }
}

@media (min-width: 1025px) {
    html element/class/id {
	    attribute: xyz;
   }
} 
*/

body {
    font-family: 'Myriad Pro', Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #00937e; */
   
    margin: 0;
}
/* header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: white;
} */

header {
    color: #00937e;
    display: flex;
    width: 100vw;
    /* background-color: white; */
    padding: 5px;
} 

#logo {
    justify-content: flex-start;
    max-width: 100px;
    max-height: 100px;
  
 }

#title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .05rem;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding-top: 15px;
    padding-left: 5px;
}

#subtitle {
    color: black;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: .1em;
    text-align: center;
}

/* nav {
    width: 100vw;
} */

.nav {
    position: fixed;
    background: #00937e;
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}



.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
}

.nav__link:hover {
    color: white;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

/* ARTIST STATEMENT MODAL */
.open-button {
    color: inherit;
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
}

.open-button:hover {
    color: white;
}


.hamburger {
    display: block;
    position: relative;
    margin-right: 10px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: black;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


ul {
    list-style: none;
    color: #faa723;
    padding: 1em;
}

.search {
    padding-left: 15px;
}



/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

* {
    margin: 0;
}

body {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#slider {
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00937e;
}

.container {
    width: 1600px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.subcontainer {
    width: 85%;
    margin: auto;
}

.controller {
    display: flex;
    justify-content: space-between;
}

#controls i {
    color: black;
    font-size: 1rem;
    
}

.previous .next {
    padding: 2px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: 0.7s ease-in-out;
    border: 3px solid white;
    background-color: black;
    box-shadow: 0 0 5px #bbb;
}

.previous:hover, .next:hover {
    border: 3px solid gray;
}

.slide-img {
    
    width: 100%;
    height: 360px;
    /* border: 1px solid white; */
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.slide-img:hover {
    box-shadow: 0 0 0 200px white inset;
    opacity: 25%;
}

.slide-img a {
    display: flex;
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1rem;
    color: white;
    opacity: 0;
}

.slide-img a:hover{
    opacity: 100%;
    color: red;
    transform: scale(1.5);
}

.img-1 {
    background-image: url(images/Profile_photo.jpg);
}

.img-2 {
    background-image: url(images/Envisage_web_mixed_media.jpg);
}

.img-3 {
    background-image: url(images/For_all_those_remembered_and_all_those_forgotten_web_Gouache.jpg);
}

.img-4 {
    background-image: url(images/Gravitational_Force_web_Digital_Illustration.jpg);
}

.img-5 {
    background-image: url(images/Vision_VII_web_Gouache_ink.jpg);
}

.img-6 {
    background-image: url(images/Mother_Earth_Goddess_I_Instinct.jpg);
}

@media(max-width: 1600px) {
    .container {
        width: 100%;
    }
}

form {
    background-color: lightgrey;
    padding: 2px 5px 15px 15px;
}

form p {
    margin-bottom: 1px;
}

input {
    margin-top: 0;
    padding-top: 0;
}

#email {
    /* resize box width */
}

#email-err {
    color: orange;
    margin-top: 0;
    display: none;
}

#message {
    /* need to resize box width and height */
}

footer {
    color: #00937e;
    font-weight: lighter;
}

#visits {
    color: #faa723;
    font-weight: bold;
}
