body {
    font-family: 'Myriad Pro', sans-serif;
    margin: 0;
}


header {
    color: #00937e;
    display: flex;
    width: 100vw;
    padding: 5px;
    align-content: center;
} 

#branding {
    display: flex;
    align-content: center;
    padding: 5px 0;
}

#logo {
    justify-content: flex-start;
    max-height: 100px;
}

#title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .05rem;
    display:inline-block;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 15px;
    padding-left: 5px;
}

#subtitle {
    color: black;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: .1em;
    text-align: center;
}

.nav {
    position: fixed;
    background: #00937e;
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
}

.nav__link:hover {
    color: white;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

/* ARTIST STATEMENT MODAL */
    dialog {
        height: 90vh;
        width: 90vw;
    }
    .modal h2 {
        margin-bottom: 3px;
        margin-top: 5px;
        font-size: 2rem;
    }
    #artist-statement-container {
        /* display: flex;
    align-content: flex-start; */
    padding: 5px 0;

       
    }

    #artist-statement-tagline {
        font-weight: 500;
        font-size: 1.25rem;
        font-style: oblique;
        margin: 0 0 2px 0;
        padding: 0;
    }


.modal img {
   float: left;
    max-width: 200px;
    height: auto;
    margin-right: 10px;
}

.modal p {
    margin-left: 5px;
    padding-top: 3px;
    margin-top: 3px;
}

  .open-button {
      color: inherit;
      font-weight: bold;
      font-size: 3em;
      text-decoration: none;
  }
  
  .open-button:hover {
      color: white;
  }
  

.hamburger {
    display: block;
    position: relative;
    margin-right: 10px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: black;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


.nav__list {
    list-style: none;
    color: #faa723;
    padding: 1em;
}

.quote-box {
    background-color: #faa723;
    margin: 0;
    padding-top: 1px;
    padding-right: 5px;
  
}

#quote-text {
    font-weight:lighter;
    font-size:larger;
    font-style: italic;
    padding-bottom: 0;
    padding-right: 5px;
    margin-bottom: 0;
    text-align: right;
}

#quote-author {
    margin: 3px 0 0 0;
    padding: 0 5px 5px 0;
    text-align: right;
    font-weight: lighter;
    font-style: italic;
}

main {
    background-color: #00937e;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}

dialog {
    height: 90vh;
    width: 90vw;
}
.modal h2 {
    margin-bottom: 3px;
    margin-top: 5px;
    font-size: 2rem;
}
#artist-statement-container {
    padding: 5px 0;

   
}

#artist-statement-tagline {
    font-weight: 500;
    font-size: 1.25rem;
    font-style: oblique;
    margin: 0 0 2px 0;
    padding: 0;
}

.modal img {
    float: left;
    max-width: 350px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 5px;
}

.modal p {
    margin-left: 5px;
    padding-top: 3px;
    margin-top: 3px;
}

@media only screen and (max-width: 480px) {
    .wrapper {
        display: none;
      }

    .images-smallscrn {
    display: flex;
    flex-wrap: wrap;
   
    align-items: center;
    justify-content: center;
    position: relative;
    padding: .5em;
    margin: .25em;
    text-align: center;
    font-size: 1.2rem;
    }
    .images-smallscrn-each {
      width: 90vw;
      padding: 3px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .wrapper {
        display: none;
      }
      .images-smallscrn {
        display: flex;
        flex-wrap: wrap;
       
        align-items: center;
        justify-content: center;
        position: relative;

        text-align: center;
        font-size: 1.2rem;
        }
        .images-smallscrn-each {
              
          padding: 3px;
         height: auto;
         max-width: 45vw;

    }
 }
    

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .images-smallscrn {
        display: none;
    }

    .wrapper {
      height: 300px;
      width: 765px;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      background: black;
    }
    
    .button-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      margin: 0;
    }

    #back,
    #fwd {
        width: 30px;
        top: 50%;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        color: black;
    }

    #fwd {
        right: 0;
    }
    
    .slider {
      margin: 0;
      padding: 0;
      list-style: none;
      justify-content: space-between;
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      transition: all 1s ease;
    }
    
    .card {
        
      width: 250px;
      min-height: 250px;
      margin: auto;
      display: inline-block;
      padding: 0 3px;
    }
  }

  @media only screen and (min-width: 1025px) {
    .images-smallscrn {
        display: none;
    }

    .wrapper {
      height: 400px;
      width: 1000px;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      background: black;
    }
    
    .button-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      margin: 0;
    }

    #back,
    #fwd {
        width: 30px;
        top: 50%;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        color: black;
    }

    #fwd {
        right: 0;
    }
    
    .slider {
      margin: 0;
      padding: 0;
      list-style: none;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      transition: all 1s ease;
    }
    
    .card {  
      width: 333px;
      min-height: 250px;
      margin: auto;
      display: inline-block;
      padding: 0 1px;
    }
}
    

#title {
    margin: auto;
    position: relative;
    text-align: center;
}

#divider-bottom {
    background-color: #faa723;
    margin: 0;
    padding: 20px;
}
#send-msg {
    background-color: #00937e;
  
    padding: 2px 5px 15px 15px;
}

.contact::before {
    content: "";
    position: absolute;
    background-image: url(images/logo_grayscale.png);
    background-repeat:repeat;
    opacity: .75;
}

form p {
    margin-bottom: 1px;
}

input {
    margin-top: 0;
    padding-top: 0;
}

#email-err {
    color: orange;
    margin-top: 0;
    display: none;
}

#message {
    /* need to resize box width and height */
}

footer {
    color: #00937e;
    font-weight: lighter;
}

#visits {
    color: #faa723;
    font-weight: bold;
}
