* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Myriad Pro', sans-serif;
  }

  header {
    color: #00937e;
    display: flex;
    width: 100vw;
    padding: 5px;
    align-content: center;
} 

/* #branding {
  display: flex;
  align-content: center;
  padding: 5px 0;
} */

#logo {
  justify-content: flex-start;
  /* max-height: 100px; */
  max-width: 450px;
}

.nav {
    position: fixed;
    background: #00937e;
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100; 
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
}

.nav__link:hover {
    color: white;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.open-button {
    color: inherit;
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
}

.open-button:hover {
    color: white;
}


.hamburger {
    display: block;
    position: relative;
    margin-right: 10px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: black;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


.nav__list {
    list-style: none;
    color: #faa723;
    padding: 1em;
}

#main-heading {
  margin-top: 5px;
 } 

main {
    background-color: #00937e;
    margin: 0;
    padding: 5px 10px;
}

  
  h1 {  
    font-size: 2rem;
    word-break: break-all;
  }

  
  .row {
    margin: 10px -16px;
  }
  

  .row,
  .row > .column {
    padding: 8px;
  }

  .column {
    float: left;
    width: 33.3%;
    min-height: 800px;
    display: none;
  }
  

  .row:after {
    content: "";
    display: table;
    height: 100%;
    clear: both;
  }
  
 
  .content {
    background-color: white;
    padding: 10px;
    width: 100%;
    /* max-height: 95%; */
  
  }

  img {
    width: 100%;
    height: auto;
  }
  

  .show {
    display: grid;
  }
  
 
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: .15rem .15rem .3rem .15rem;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  @media only screen and (max-width: 480px) {
    #logo {
      max-width: 90vw;
    }

    .column {
      width: 100%;
    }

    .content {
      height: 100%;
    }
  }

  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .column {
      width: 50%;
    }

    .content {
      height: 100%;
    } 

  }

  