

/* general styling */
:root {
    --smaller: .75;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    align-items: center;
    background-color: #00937e;
    margin-top: 3em;
    /* display: flex; */
    font-family: 'Myriad Pro', Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .container {
    
    margin: 0 auto;
    text-align: center;
  }

  #announcement {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .125rem;
    padding-bottom: 1rem;
  }
  
  h1 {
    font-weight: bold;
    letter-spacing: .125rem;
    text-transform: uppercase;
    color: black;
    margin-top: 2rem;
  }

  #festival-title {
    font-size: 2.5rem;
    text-align: center;
    color: #faa723;
  }

  #festival-date {
    font-size: 1.75rem;
    text-align: center;
    color: #faa723;
  }

  #festival-description {
    font-size: 1.15rem;
    color: black;
    font-weight: 400;
  }

  #festival-keywords {
    font-size: 1.25rem;
    /* font-weight: 500; */
    color: black;
    letter-spacing: .155rem;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
  }
  
  #festival-location {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .15rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: .5rem;
  }

  #festival-time {
    text-align: center;
    color: #faa723;
    padding-top: .5rem;
  }

  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    color: #faa723 ;
    display: block;
    font-size: 4.5rem;
  }

  .return {
    font-weight: lighter;
    color: darkslategray;
    /* margin-top: 10px; */
    text-transform: none;
    
  }

  a:link {
    background-color: white;
    color: black;
    padding: 5px;
    box-shadow: #faa723;
  }

  a:hover {
    font-weight: bolder;
    background-color: #faa723;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }

  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }